$mycolors: (
    Bright-orange: hsl(31, 77%, 52%),
    Dark-cyan: hsl(184, 100%, 22%),
    Very-dark-cyan: hsl(179, 100%, 13%),
    h2-paragraphs: hsla(0, 0%, 100%, 0.75),
    Very-light-gray: hsl(0, 0%, 95%)
    );

    @mixin desktop{
        @media(min-width: 1200px){
            @content;
        }
    }

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 5em 1.5em;
    background-color: map-get($mycolors, Very-light-gray);
    font-size: 15px;
    position: relative;
    @include desktop{
        padding: 0;
    }
}
main{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    @include desktop{
        flex-direction: row;
        max-width: 60em;
        
    }
    article{
        padding: 3em 3.1em;
        .image{
            margin-bottom: 2em;
        }
        h2{
           
            font-family: 'Big Shoulders Display', cursive;
            font-weight: 700;
            margin-bottom: 0.6em;
            font-size: 2.5rem;
            text-transform: uppercase;
            color: map-get($mycolors, Very-light-gray );
        }
        p{
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            margin-bottom: 1.5em;
            line-height: 1.6;
            color: map-get($mycolors, h2-paragraphs );
            @include desktop{
                margin-bottom: 5em;
            }
        }
        button{
            padding: 1em 2em;
            font-size: 15px;
            border-radius: 30px;
            border: none;
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            box-sizing: border-box;
            position: relative;
            transition: 0.2s ease-in-out;
            background-color: map-get($mycolors, Very-light-gray );
            span{
                margin: 0;
                position: relative;
                transition: 0.2s;
            }
        }
        button:hover{
            cursor: pointer;
        }
    }
    article:nth-of-type(1){
        background-color: map-get($mycolors, Bright-orange);
        button{
            color: map-get($mycolors, Bright-orange);
        }

        button:before{
            background-color: map-get($mycolors, Bright-orange );
        }
    }
    article:nth-of-type(2){
        background-color: map-get($mycolors, Dark-cyan);
        button{
            color: map-get($mycolors, Dark-cyan);
        }
        :before{
            background-color: map-get($mycolors, Dark-cyan );
        }
    }
    article:nth-of-type(3){
        background-color: map-get($mycolors, Very-dark-cyan);
        button{
            color: map-get($mycolors, Very-dark-cyan);
        }
        :before{
            background-color: map-get($mycolors, Very-dark-cyan );
        }
    }
}
article{
    button:before{
        content: '';
        position: absolute;
        inset: 2px;
        border-radius: 25px; 
        opacity: 0;
        visibility: hidden;
        transition: 0.2s ease-in-out;
    }
    button:hover::before{
        opacity: 1;
        visibility: visible;
    }
    button:hover span{
        color: map-get($mycolors, Very-light-gray );
        transition: 0.2s;
    }
}

footer{
    position: absolute;
    bottom: 0;
    a{
        text-decoration: none;
    }
}